.toolbar {
    width: 100%;
    top: 0;
    left: 0;
    height: 72px;
}

.toolbar_nav {
    display: flex;
    align-items: center;
    height: 72px;
}

.toolbar_logo {
    font-family: 'Consolas', monospace;
    padding-right: 25px;
    padding-left: 0px;
    margin-left: 7.3%;
}

.toolbar_logo a {
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}

.tabBar {
    display: none;
}

.tabBar_icon {
    display: none;
}

@media (max-width: 750px) {
    .toolbar_nav {
        bottom: 0;
        height: 80px;
        position: fixed;
        background: #202036;
        z-index: 100;
        border-top: #fff solid 1px;
    }

    .toolbar_nav-items {
        display: none;
    }

    .toolbar_logo {
        display: none;
    }

    .tabBar {
        display: block;
        width: 25%;
        height: 80px;
        text-align: center;
        position: relative;
        top: 10px;
        flex-direction: column;
    }

    .tabBar_icon {
        display: block;
        height: 30px;
        margin: auto;
    }

    .tabBar a {
        color: #fff;
        text-decoration: none;
        font-family: 'Consolas', monospace;
        font-weight: bold;
        font-size: .8em;
    }
}