.toggle-button {
    display: none;
    flex-direction: column;
    height: 28px;
    width: 30px;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
}

.toggle-button:focus {
    outline: none;
}

.toggle_line {
    width: 30px;
    height: 3px;
    background-color: #fff;
}

@media (max-width: 750px) {
    .toggle-button {
        display: flex;
        position: fixed;
        right: 7.3%;
        top: 22px;
        z-index: 100;
    }
}